.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: $column-gap;

  @include tablet {
    &.is-narrow,
    &.is-narrow-tablet {
      flex: none;
      width: unset;
    }
  }
}
.columns {
  @include ltr-property("margin", (-$column-gap), false);
  @include ltr-property("margin", (-$column-gap));

  margin-top: (-$column-gap);
  &:last-child {
    margin-bottom: (-$column-gap);
  }
  @include desktop {
    &.is-desktop {
      display: flex;
    }
  }
}
