extends default
include comps/button
include comps/post-info

block main-content
	.blog-post.is-flex-grow-1
		h1.title= title
		+post-info(authors, dateString)

		block post-content
			!=content

	+button("/blog", "_self")(class="is-primary" icon="fas fa-arrow-left").
		Other articles
