extends Default
include comps/button

block content
	.blog-post.is-flex-grow-1
		h1.title= title
		//- <PostInfo post={props} />

		block content
			!=content

	+button("/blog")(type="primary" icon="fas fa-arrow-left").
		Other articles
