extends default
include comps/post-embed

block main-content
	h1 Blog

	#posts.content.container.my-5
		each post in results
			+post-embed(post)

	nav.pagination.is-centered(role="navigation" aria-label="pagination")
		a.nohl.pagination-previous(
			disabled=!pagination.previous
			href=pagination.previous
		)
			span.icon
				i.fas.fa-angle-left
			| Prev

		a.nohl.pagination-next(
			disabled=!pagination.next
			href=pagination.next
		)
			span.icon
				i.fas.fa-angle-right
			| Next

		ul.pagination-list
			each num in indices
				li
					if num > 0
						a(
							class=["nohl", "pagination-link", num == pagination.page && "is-current"]
							aria-label=`Goto page ${num}`
							href=url
						)= num
					else
						span.pagination-ellipsis &hellip;
