head
	meta(charset="utf-8")
	title Redirecting to #{href}
	meta(http-equiv="refresh" content=`1; ${href}`)
	link#canonical(rel="canonical" href=href)

	script.
		window.location.replace(
			document.getElementById("canonical").href + window.location.hash
		);
