main>* {
    margin-bottom: 30px;
}

#title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#pfp-and-name {
    display: flex;
    height: 8em;
    align-items: center;
}
#flags-and-pronouns {
    text-align: right;
    line-height: 1.6em;
}


#pfp {
    border-radius: 50%;
    height: 90%;
    margin: 5px;
}

#name {
    margin: 0.5em;
}