@import url(global.css);

.comment {
    color: #999;
    font-style: italic;
}
.flex-paragraph {
    display: flex;
    align-items: center;
}
.avatar {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 15px;
}
.avatar > * {
    margin: 5px;
}
.pride-flags {
   display: flex;
   height: 40px;
   margin: 5px;
   margin-top: 15px;
   align-items: center;
   justify-content: center;
}
.pride-flags > img {
    margin: 5px;
    border-radius: 5px;
}

