mixin --button-inner(attribs)
	.button(tabindex="-1")&attributes(attribs)
		block

mixin button(link, target="_blank")
	if link
		a(href=link target=target)
			+--button-inner(attributes)
				block
	else
		+--button-inner(attributes)
			block