mixin icon(icon)
	if icon
		span.icon
			//- Font Awesome icons
			if icon.startsWith("fa")
				i(class=icon)
			else
				img(src=icon alt=attribs && attribs.alt)


mixin icon-with-text(icon)
	span.icon-text
		+icon(icon)
		span
			block
