include icon

mixin message(style, title)
	details.message(open class=[`is-${style}`])
		summary.message-header
			span.icon-text
				case style
					when "warning": +icon("fas fa-warning")
					when "danger": +icon("fas fa-circle-exclamation")
					when "info": +icon("fas fa-circle-info")
					when "link": +icon("fas fa-link")
					when "success": +icon("fas fa-check")
				!= filters.md(title)
				
		.message-body.has-text-dark
			block