include post-info

mixin post-embed(post)
	article.blog-post.with-divider
		- const href = post.dest.path.match(/(.+)\/index/)[1]
		h2.subtitle
			a(href=href)= post.data.title

		+post-info(post.data)

		- const content = post.data.content;
		!= content.slice(0, content.indexOf("<!-- MORE -->"))
