include ../comps/button
include ../comps/modal/modal

+modal(switches.email)
	.content
		section.box.p-5.has-text-centered
			h1.title.is-3.has-text-primary.
				#[i.fas.fa-envelope] Email
			p.
				To contact me by email, please send to the address below,
				#[strong with all numbers removed].
			.my-4
				h1#obscured-email.title.is-5.has-text-primary.
					h17271i93@23pl2uie24.982me
					
				+button()(
					class="is-primary"
					id="copy-email"
					class="has-successful-states"
					title="Copy sanitized address to clipboard"
				)
					span.icon-text
						span Copy sanitized address to clipboard 
						+icon("fas fa-check").is-state-specific.is-true.mr-0
						+icon("fas fa-cross").is-state-specific.is-false.mr-0
			p.
				Please pardon me if I don’t respond in a punctual manner—I have issues
				catching up and responding to emails. Feel free to use other ways to
				contact me: I heard finding me on #[span.has-text-blurple Discord] is
				often the fastest among them :p

	script(src="/scripts/email_modal.js" async)
