{{ set currentYear = new Date().getFullYear() }}
{{ set firstYear = 2022 }}
{{
  set yearText = currentYear > firstYear ? `${firstYear}–${currentYear}` : `${firstYear}`
}}

<footer class="px-8 pt-16 pb-20 border-t-2 border-t-main-border">
  <div class="prose max-w-128 mx-auto text-center">
    <p>© {{ yearText }} Leah Amelia “pluie” Chen</p>

    {{ footer.license |> md }}
    {{ footer.credits |> md }}
  </div>
</footer>
