{{ set currentYear = new Date().getFullYear() }}
{{ set firstYear = 2022 }}
{{
  set yearText = currentYear > firstYear ? `${firstYear}–${currentYear}` : `${firstYear}`
}}

<footer class="px-16 pt-12 pb-20 text-center prose dark:prose-invert prose-a:text-brand prose-a:no-underline max-w-none w-full border-t-2 border-t-main-border">
  <p>© {{ yearText }} Leah Amelia “pluie” Chen</p>

  {{ footer.license |> md }}
  {{ footer.credits |> md }}
</footer>
