.arrow-button {
	@apply relative transition;
  height: 2.5rem;
  padding: 0.5rem 4.5rem 0.5rem 0.75rem;

  &.rtl {
    padding-left: 4.5rem;
    @media (min-width: 640px) {
      padding-left: 5.5rem;
    }
    padding-right: 0.75rem;

	  &::before {
      @apply left-0 border-l-main-bg border-r-transparent;
		  border-right-width: 1rem;
      border-left-width: 2rem;
      @media (min-width: 640px) {
        border-left-width: 3rem;
      }
    }
	  &::after {
      @apply left-0 border-l-main-bg border-r-transparent;
		  border-right-width: 1rem;
      border-left-width: 0rem;
    }

    &:hover::before {
	  	border-left-width: 0rem;
	  }
  }

	&::before {
		@apply absolute w-0 h-0 right-0 border-main-bg border-l-transparent;
		content: "";
    top: 0;
    filter: opacity(0.8);
		transition: border-width 0.25s;
		border-width: 1.3rem 3rem 1.3rem 1rem;
	}
	&::after {
		@apply absolute w-0 h-0 right-0 border-main-bg border-l-transparent;
		content: "";
    top: 0;
		transition: border-width 0.25s;
		border-width: 1.3rem 0rem 1.3rem 1rem;
	}

	&:hover {
    .body {
      filter: brightness(1.1);
    }
    &::before {
	  	border-right-width: 0rem;
	  }
  }
}

