.icon-grid {
  @apply grid grid-cols-4 grid-auto-rows-[1fr] gap-1;

  .icon {
  	@apply relative rounded-lg border-fg/30 border-2 cursor-pointer aspect-ratio-square;
    padding: 0.25rem;

    div[class^="i-"] {
  	  @apply rounded-md aspect-ratio-square;
      background-position: center;
      background-size: 90%;
      width: 100% !important;
      height: auto !important;
    }

    .name {
      @apply absolute top-0 left-0 w-full h-full z-10 p-2 flex items-center justify-center text-center text-fg invisible text-xs break-words;
    }
  }


  input[name=icon-select]:checked ~, .icon:hover, .icon:active, .icon:focus {
    .name {
      visibility: visible;
    }
    div[class^="i-"] {
      filter: opacity(0.3) blur(4px);
    }
  }
}

