.icon-grid {
  @apply grid grid-cols-4 grid-auto-rows-[1fr] gap-1;

  .icon {
  	@apply rounded-lg border-fg/30 border-2 cursor-pointer;
    padding: 0.25rem;

    div {
  	  @apply relative rounded-md aspect-ratio-square;
      background-position: center;
      background-size: 90%;
      width: 100% !important;
      height: auto !important;
    }
  }

  input.icon-selector:checked +, .icon:hover, .icon:active, .icon:focus {
    div::after {
      content: attr(data-name);
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      background-color: rgba(0, 0, 0, 0.7);

      // backdrop-filter: brightness(0.2);
      // -webkit-backdrop-filter: brightness(0.2);
      color: white;
      font-size: 10pt;
      word-break: break-word;
      line-height: 1.1;
    }
  }
}

