@use "sass:color";

$link-highlighter-color: transparentize($primary, 0.75) !default;
$footer-link-color: hsl(226, 92%, 81%) !default;

.content a {
  // adapted from https://stackoverflow.com/a/72459455
  
	--hl-thickness: 1rem;
	--hl-strike: 0; 
  --hl-color: #{$link-highlighter-color};

	background: linear-gradient(0deg, transparent, var(--hl-color) 0) no-repeat
		right center / calc(var(--hl-strike) * 100%) var(--hl-thickness);
	transition: background-size 0.2s ease;

	&:hover {
		--hl-strike: 1;
		background-position-x: left;
	}

	footer & {
    --hl-color: hsla(53, 100%, 63%, 0.25);
		color: $footer-link-color;
	}
}
