@keyframes sweep {
	0% { opacity: 0; transform: translateX(-10px) }
	100% { opacity: 1; transform: translateX(0) }
}

.message {
  padding-bottom: 10px;

  summary {
		cursor: pointer;
		transition: margin 150ms ease-out;
	}

	&[open] summary {
		margin-bottom: 10px;
	}

	&:not(.is-arrowless) {
		.message-header::after {
			@include arrow($black-ter);
			top: 45%;
			right: 1rem;
			transition: transform 0.1s;

		}

		&:not([open]) .message-header::after {
			transform: translate(-2px, 2.5px) rotateZ(225deg);
		}
	}
}

@each $name, $color in $colors {
	$invert: nth($color, 2);
	
	.message.is-#{$name}:not(.is-arrowless) .message-header::after {
		border-color: $invert;
	}
}