
/*! purgecss start ignore */
.main {
  background-color: $scheme-main;
  &.is-medium {
    padding: 4.5rem 4.5rem 9rem !important;
  }
}

#avatar {
  width: 320px;
  height: 320px;
  img {
    border: 2px $primary solid;
    border-radius: $radius-rounded;
  }
  @include desktop {
    float: right;
  }
}
/*! purgecss end ignore */