/*! purgecss start ignore */
.is-forced-max-width {
  min-width: 100%;
}

.main {
  background-color: $scheme-main;
  &.is-medium {
    padding: 4.5rem 4.5rem !important;
  }
}

@include mobile {
  .has-text-centered-mobile {
    text-align: center;
  }
}

.main-container {
  flex-direction: column;
  align-items: center;
  min-height: 50vh;

  @mixin centered {
    display: flex;

    .title,
    .subtitle {
      text-align: center;
    }
  }

  &[centered] {
    @include centered;
  }
  @include touch {
    @include centered;
  }
}

#avatar {
  width: 320px;
  height: 320px;
  img {
    border: 2px $primary solid;
    border-radius: $radius-rounded;
  }
  @include desktop {
    float: right;
  }
}
/*! purgecss end ignore */
