/*! purgecss start ignore */
.is-forced-max-width {
	min-width: 100%;
}

main {
	background-color: $scheme-main;
	&.is-medium {
		padding: 0 4.5rem !important;
	}

}

@include mobile {
	main.is-medium {
		padding: 0 2.5rem !important;
	}

	.has-text-centered-mobile {
		text-align: center;
	}
}

.main-container {
	flex-direction: column;
	align-items: center;
	min-height: 50vh;
  max-width: 60rem;

	@mixin centered {
		display: flex;

		.title,
		.subtitle {
			text-align: center;
		}
	}

	&[centered] {
		@include centered;
	}
	@include touch {
		@include centered;
	}
  @include desktop {
    padding: 3rem 5rem;
    box-shadow: 0px 0px 10px $grey;
  }
}

img.is-rounded {
	border-radius: $radius-rounded;
}

#avatar {
	width: 320px;
	height: 320px;
	img {
		@extend img, .is-rounded;

		border: 2px $primary solid;
	}
	@include desktop {
		float: right;
	}
}

.fake-link {
	cursor: pointer;
}
/*! purgecss end ignore */
