@include touch {
	#navbar-toggle:checked ~ {
		.navbar-menu {
			display: block;
		}

		@for $i from -1 through 1 {
			* label[for="navbar-toggle"] span:nth-child(#{$i + 2}) {
				transform: translateY($i * -5px) rotate($i * -45deg);
				opacity: abs($i * 100%);
			}
		}
	}
}

.navbar-link:not(.is-arrowless)::after {
	transition: transform 0.1s;
}

.navbar-item.has-dropdown-toggle input.navbar-dropdown-toggle {
	display: none;
	
	&:not(:checked) ~ .navbar-link:not(.is-arrowless)::after {
		transform: translate(-2px, 1.5px) rotateZ(225deg);
	}
	&:checked ~ .navbar-dropdown {
		display: block;
	}
}

.navbar-dropdown .fake-link.navbar-item {
  &:focus, &:hover {
    background-color:$navbar-dropdown-item-hover-background-color;
    color: $navbar-dropdown-item-hover-color;
  }
}