// @include touch {
// 	#navbar-toggle:checked ~ {
// 		.navbar-menu {
// 			display: block;
// 		}

// 		@for $i from -1 through 1 {
// 			* label[for="navbar-toggle"] span:nth-child(#{$i + 2}) {
// 				transform: translateY($i * -5px) rotate($i * -45deg);
// 				opacity: abs($i * 100%);
// 			}
// 		}
// 	}
// }

.navbar-items {
	@apply grow;

	* {
		@apply inline-flex h-full items-center px-3 hover:bg-brand-dark;
	}
}

.navbar-dropdown {
	.navbar-dropdown-items {
		@apply absolute left-0 top-full z-20 min-w-full min-h-fit text-sm;
	}

	.navbar-dropdown-label::after {
		content: " ";
		@apply block m-2 h-3 w-3 border-4 border-white rounded-sm border-l-0 border-t-0 -rotate-45 origin-center transition;
	}

	input.navbar-dropdown-toggle {
		display: none;
		
		&:not(:checked) ~ {
			.navbar-dropdown-items {
				display: none;
			}
		}
		&:checked ~ {
			.navbar-dropdown-items {
				display: block;
			}
			.navbar-dropdown-label::after {
				@apply rotate-45 -translate-y-0.5;
			}
		}
	}
}

// .navbar-dropdown .fake-link.navbar-item {
//   &:focus, &:hover {
//     background-color:$navbar-dropdown-item-hover-background-color;
//     color: $navbar-dropdown-item-hover-color;
//   }
// }