[data-tooltip] {
	@apply relative;

	&::after {
		content: attr(data-tooltip);
		@apply hidden absolute text-sm text-center inline-block align-middle bg-bg/80;
		@apply p-1 rounded-md border-[1px] border-brand min-w-fit -inset-x-2 bottom-[90%] z-20;
	}
	&:hover {
		&::before, &::after {
			@apply block;
		}
	}
}
