---
title: "「消灭AI暴政，世界属于人类！」"
id: noai
lang: zh
---

<div class="prose">
<h1 class="text-brand">「消灭AI暴政，世界属于人类！」</h1>

{{ echo |> md }}
本站（pluie.me）不含任何AI辅助或生成的内容或素材。若未特别指出，本站文章、插图、照片、视频以及其他素材均由本人创作。

创作本站内容时，我最多只允许自己用AI初步研究不太熟悉的话题，或者分析没接触过的代码库。无论AI生成什么结果，我都都会严格检查是否正确。虽说如此，我作为区区凡人，检查时也难免会和人工研究时一样犯错。欢迎通过邮件或我仅存的社媒平台指正。

以上规则背后有三重原因：

最重要的是对于创作的热爱。「古法炮制」网站上的一切内容虽然消耗我大量的空闲时间，但也能帮我填补精神层面上的满足感。本来工作上天天需要使唤AI智能体写代码就已经够折磨人了……兴趣爱好也要不顾一切"shipmaxx"的话，会把我原有的创造力扼杀得所剩无几。就因这一点，我极力推荐大家多在业余时间去开发自己的兴趣爱好，LLM再怎么强大也无妨（事实上也没那么强大）。有一定瑕疵却发自真心的艺术，终究比外表光鲜亮丽但毫无内涵的所谓“艺术”有价值的多。其中最核心的价值，就是只有人类能够赐予的，对作者主观、情绪层面的意义。

其次，我人生的一大目标是去结识世界各地各种各样的人，接触许多本来无从了解但又丰富多彩的人生履历。因此在社交场合中，我并不觉得让大语言模型给我的一言一行添油加醋有任何好处，反倒只会让我显得极其虚伪。我自己每次看到LLM对人类语言的拙劣模仿时，只会下意识地失去信任、感到厌恶。同时，某些网民也经常通过LLM给自己捏造知识渊博的人设，但一旦和人线下接触，失去了机器辅助的他们便会霎时原型毕露。

最后，大语言模型至今无法掌握中文（或者英文）背后的文化底蕴与字里行间的美感。LLM目前最多只能浅显地了解如何押韵，但对于节奏、韵律、平仄、某些语法结构的具体作用、引用古典文学的重要性，其才能可谓捉襟见肘。最后的效果，便是应一笔带过的部分刻画得浓墨重彩，本该升华的词句却没能画龙点睛。

由此可见，LLM并不能提高我的写作水平，反而只会侮辱造词构句背后的所思所想。俗话说的好，写作只是把词挑出来，然后拼在一块而已。LLM确实能够胜任后者，但前者的表现实在是辜负了其价格高昂且浩如烟海的「教育」。研习过人类文明汇聚千年的几乎所有知识和文学创作的它，仍旧只能吐出我见过最墨守成规、含糊其词、陈词滥调的文章，任何悉心的读者都能一眼看穿。换言之，用一套可预测的数学模型来去模仿变幻莫测的人类思维，本来就是无稽之谈罢了。

最后，也想给大家分享[乔治・奥威尔的一句名言](https://www.goodreads.com/quotes/1315094-modern-writing-at-its-worst-does-not-consist-in-picking)（来自其1946年的议论文《政治与英语》，本人翻译），差不多总结了我对于AI创作内容的看法：

> 现代写作最拙劣的部分并不在于仅仅为了含义挑选词语，再去为了澄清含义编造意象，而是将大段经由他人定型的辞藻粘连在一起，再任凭一通胡诌蒙混过关。这样写作因为简单所以诱人。相比「我认为」，「从本人的观点看来，这未尝是一个缺乏正当性的假设」说起来不仅更容易——习惯后甚至还会快不少。
>
> Modern writing at its worst does not consist in picking out words for the sake of their meaning and inventing images in order to make the meaning clearer. It consists in gumming together long strips of words which have already been set in order by someone else, and making the results presentable by sheer humbug. The attraction of this way of writing is that it is easy. It is easier -- even quicker, once you have the habit -- to say "In my opinion it is not an unjustifiable assumption that" than to say "I think."


{{ /echo }}
</div>
