{% assign member = site.data.members | find: "id", include.member %}
{% assign pronouns = member.pronouns %}
{% assign num-of-pronouns = pronouns | size %}

{% if num-of-pronouns > 1 %}
    {% assign pronouns-formatted = '' | split: '' %}

    {% for pronoun in pronouns %}
        {% capture formatted %}<span class="pronouns {{ pronoun }}">{{ pronoun }}</span>{% endcapture %}
        {% assign pronouns-formatted = pronouns-formatted | push: formatted %}
    {% endfor %}

    {{ pronouns-formatted | join: "/" }}
{% elsif num-of-pronouns == 1 %}
    {% assign pronoun = pronouns | first %}

    <span class="pronouns {{ pronoun }}">
        {{ pronoun }}/{{ site.data.pronouns[pronoun].object }}
    </span>
{% endif %}