@use "sass:map";
@import "../_bulma/sass/utilities/initial-variables.sass";

$primary: hsl(299, 76%, 38%);
$primary-dark: darken($primary, 20%);
$turquoise: #34d4c4;
$link: hsl(226, 58%, 55%);
$link-hover: hsl(225, 40%, 98%);
$pale: mix($primary, $white, 10);

$custom-colors: (
	discord: #5865f2,
	youtube: #d02525,
	twitter: rgb(29, 155, 240),
	github: rgb(250, 250, 250),
	pronouns-page: #c71585,
	mastodon: #3088d4,
);
$dark-colors: ();
$light-colors: ();
@each $id, $color in $custom-colors {
	$dark-colors: map.set($dark-colors, $id, darken($color, 3%));
	$light-colors: map.set($light-colors, $id, lighten($color, 3%));
}

$code: darken(saturate($primary, 25%), 25%);
$code-size: 1em;
$code-padding: 0.1em 0.4em 0.1em 0.4em;

$background: $white-ter;
$body-background-color: $primary-dark;

$column-gap: 0.75rem;

$family-primary: "IBM Plex Sans", "Helvetica Neue", "Helvetica", "Arial",
	sans-serif;
$family-monospace: "IBM Plex Mono", "Iosevka", "JetBrains Mono", monospace;
