@import "../_bulma/sass/utilities/initial-variables.sass";

$primary: hsl(299, 76%, 38%);
$primary-dark: darken($primary, 20%);
$turquoise: #34d4c4;
$link: hsl(226, 58%, 55%);
$link-hover: hsl(225, 40%, 98%);
$pale: mix($primary, $white, 10);

$custom-colors: (
	"blurple": #5865f2,
	"youtube": #d02525,
);

$youtube: #d02525;
$youtube-dark: darken($youtube, 3%);
$youtube-light: lighten($youtube, 3%);

$blurple: #5865f2;
$blurple-dark: darken($blurple, 3%);
$blurple-light: lighten($blurple, 3%);

$twitter-blue: rgb(29, 155, 240);
$twitter-blue-dark: darken($twitter-blue, 3%);
$twitter-blue-light: lighten($twitter-blue, 3%);

$code: darken(saturate($primary, 25%), 25%);
$code-size: 1em;
$code-padding: 0.1em 0.4em 0.1em 0.4em;

$background: $white-ter;
$body-background-color: $pale;

$column-gap: 0.75rem;

$family-primary: "IBM Plex Sans", "Helvetica Neue", "Helvetica", "Arial",
	sans-serif;
$family-monospace: "IBM Plex Mono", "Iosevka", "JetBrains Mono", monospace;
