$scheme-main: hsl(210, 6.5%, 12.2%);
$scheme-main-bis: hsl(210, 6.5%, 15.5%);
$scheme-main-ter: hsl(210, 6.5%, 18.5%);

$text: hsl(210, 6.5%, 77.5%);
$text-strong: hsl(210, 6.5%, 97.5%);
$link: hsl(226, 58%, 55%);