html,
body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}
main {
  background-color: $white;
  padding: 5rem 3rem 3rem 3rem !important;
}
footer {
  background-color: darken($primary, 25%);
  flex: 1;
  color: $white-bis;

  a {
    color: rgb(120, 151, 244);
  }
}

#main-container:last-child {
  margin-bottom: initial !important;
}
#navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 3em;

  figure {
    margin: 1.5em;
  }
  hr {
    background-color: $grey-light;
    width: 70%;
  }
}
#navbar {
  flex-direction: column;
  align-items: center;

  @include touch {
    flex-direction: row;
    justify-content: center;
  }

  a {
    margin: 0.5rem 0.5rem;
    font-size: 1.5rem;
  }
}