.pronoun.he {
    color: #97bed8;
}
.pronoun.they {
    color: #b4b4b4;
}
.pronoun.she {
    color: #d897c0;
}
.pronoun.it {
    color: #e6d262;
}
.pronoun.xe {
    color: #4a1155;
}
.pronoun.fae {
    color: #f83f86;
}
.pronoun.any {
    color: #ba61cc;
}