<!DOCTYPE html>

<html>
  {{ include "parts/head.vto" }}
  <body class="pt-navbar bg-bg text-fg flex flex-col items-center">
    {{ include "parts/navbar.vto" }}
    {{ content }}
    {{ include "parts/footer.vto" }}
  </body>
</html>
