doctype html
html.has-navbar-fixed-top(lang="en")
	include ../parts/head
	body
		//- include ../parts/modal/email-modal
		include ../parts/navbar
		block content
			!=content
		include ../parts/footer