<!DOCTYPE html>

<html>
  {{ include "parts/head.vto" }}
  <body class="bg-bg text-fg flex flex-col items-center">
    <div class="flex flex-col min-h-[100vh] bg-bg-sub w-full lg:max-w-content-width mx-auto shadow-xl">
      {{ include "parts/navbar.vto" }}
      {{ content }}
      {{ include "parts/footer.vto" }}
    </div>
  </body>
</html>
