extends base

block content
	main.section.is-medium
		.content.container.is-max-desktop.main-container(centered=centered)
			unless doNotRenderTitle
				h1.title.is-2= title

			block main-content
				!=content