extends base

block content
	main.py-20.max-w-screen-lg.mx-auto(class="sm:py-10")
		.content.container.is-max-desktop.main-container(centered=centered)
			unless doNotRenderTitle
				h1.title.is-2= title

			block main-content
				!=content