extends default
include ../comps/button
include ../comps/icon
include ../comps/post-info

block main-content
	-
		opengraph["article:published_time"] = date;
		opengraph["article:modified_time"] = page.src.lastModified;
		opengraph["article:author"] = ["Leah"];
		opengraph["article:section"] = section;
		opengraph["article:tag"] = tags;

	.columns.is-desktop.is-align-items-center
		.column
			h1.title.has-text-primary= title
			p.subtitle.is-6: +post-info(page)
			!= filters.md(description)
		.column.is-narrow.is-flex.is-justify-content-center
			+button("/blog", "_self").is-primary
				+icon-with-text("fas fa-arrow-turn-up fa-flip-horizontal") Other articles
	hr.is-forced-max-width.mt-1
	
	block post-content
		!=content

