extends default
include ../comps/button
include ../comps/icon
include ../comps/post-info

block main-content
	.is-flex.is-justify-content-space-between.is-align-items-center
		div
			h1.title.has-text-primary= title
			p.subtitle.is-6: +post-info(page)
		+button("/blog", "_self").is-primary
			+icon-with-text("fas fa-arrow-turn-up fa-flip-horizontal") Other articles
	hr
	block post-content
		!=content

