extends base
include ../comps/post-embed
include ../comps/icon

block content
	section.main.section
		h1.title.is-2.mb-6 Blog

		section#posts.section.content.container
			each post in results
				+post-embed(post)

		nav.pagination.is-centered(role="navigation" aria-label="pagination")
			a.nohl.pagination-previous(
				disabled=!pagination.previous
				href=pagination.previous
			)
				+icon-with-text("fas fa-angle-left") Prev

			a.nohl.pagination-next(
				disabled=!pagination.next
				href=pagination.next
			)
				+icon-with-text("fas fa-angle-right") Next

			ul.pagination-list
				each num in indices
					li
						if num > 0
							a(
								class=["nohl", "pagination-link", num == pagination.page && "is-current"]
								aria-label=`Goto page ${num}`
								href=url
							)= num
						else
							span.pagination-ellipsis &hellip;
