extends default
include ../comps/button
include ../comps/post-info

block main-content
	h1.title= title
	+post-info(authors, date)

	block post-content
		!=content

	+button("/blog", "_self")(icon="fas fa-arrow-left").is-primary
		span Other articles
