@import "initial-vars";
@import "../_bulma/sass/utilities/derived-variables.sass";

$content-heading-color: $text-strong;
$content-heading-weight: $weight-semibold;
$content-heading-line-height: 1.125;
