/* adapted from fonts.bunny.net's generated CSS file, with `font-display: swap` enabled. */

$variants: (
	cyrillic: U+0400-045F U+0490-0491 U+04B0-04B1 U+2116,
	cyrillic-ext: U+0460-052F U+1C80-1C88 U+20B4 U+2DE0-2DFF U+A640-A69F
		U+FE2E-FE2F,
	latin: U+00?? U+0131 U+0152-0153 U+02BB-02BC U+02C6 U+02DA U+02DC U+2000-206F
		U+2074 U+20AC U+2122 U+2191 U+2193 U+2212 U+2215 U+FEFF U+FFFD,
	latin-ext: U+0100-024F U+0259 U+1E?? U+2020 U+20A0-20AB U+20AD-20CF U+2113
		U+2C60-2C7F U+A720-A7FF,
	vietnamese: U+0102-0103 U+0110-0111 U+0128-0129 U+0168-0169 U+01A0-01A1
		U+01AF-01B0 U+1EA0-1EF9 U+20AB,
);

@mixin font-family($name, $id, $weights, $variants) {
	@each $weight, $styles in $weights {
		@each $style in $styles {
			@each $variant-name, $ranges in $variants {
				@font-face {
					font-family: $name;
					font-style: $style;
					font-weight: $weight;
					font-display: swap;

					$src: ();
					@each $format in "woff2", "woff" {
						$src: append($src,
							url(https://fonts.bunny.net/#{$id}/files/#{$id}-#{$variant-name}-#{$weight}-#{$style}.#{$format})
							format($format),
							$separator: comma
						);
					}
					src: $src;
					unicode-range: $ranges;
				}
			}
		}
	}
}

@include font-family(
	"IBM Plex Sans",
	"ibm-plex-sans",
	(
		400: normal italic,
		700: normal italic,
	),
	$variants
);
@include font-family(
	"IBM Plex Mono",
	"ibm-plex-mono",
	(
		400: normal italic,
		700: normal italic,
	),
	$variants
);
