@import "../bulma/sass/utilities/initial-variables";

$primary: hsl(337, 63%, 52%);
$primary-dark: darken($primary, 20%);
$turquoise: #34d4c4;
$link: lighten($primary, 5%);
$link-hover: darken($primary, 10%);
$pale: mix($primary, $white, 10%);

$youtube: #d02525;
$twitter: #0077d6;
$github: #fafafa;
$pronouns-page: #c71585;
$blurple: #5865f2;

$custom-colors: (
  youtube: $youtube,
  twitter: $twitter,
  github: $github,
  pronouns-page: $pronouns-page,
  blurple: $blurple,
);

$family-sans-serif: join(
	"IBM Plex Sans",
	$family-sans-serif,
	$separator: "comma"
);
$family-monospace: join(
	("IBM Plex Mono", "Iosevka", "JetBrains Mono"),
	$family-monospace,
	$separator: "comma"
);
$body-size: 18px; // default is way too smol

@import "../bulma/sass/utilities/derived-variables";

$navbar-height: 4rem;
$footer-background-color: $primary-dark;
$footer-color: $white;
$body-background-color: $primary-dark;
$hr-background-color: $grey-lighter;
