---
import Base from '/src/layouts/Base.astro';

const url = Astro.request.url;
---

<Base content={{ title: "404" }}>
    <div class="section container content has-text-centered">
        <h1>404 🦀</h1>
        <pre class="has-text-left">
        site@dichosys ~$ ./serve_page {url} 

        &gt; loading route "{url}"
        thread 'main' panicked at 'called `Option::unwrap()` on a `None` value', src/load_route.rs:420:69
        note: run with `SKILL_ISSUE=none` environment variable to get good at coding

        &gt; attempt to recover? [y/N] y
        &gt; redirecting to home page...

        &gt; <a href="/">return to base</a>
        </pre>
    </div>
</Base>

