---
import Button from "@components/Button.astro";
import Base from "@layouts/Base.astro";
---

<Base title="404">
  <div class="section content has-text-centered has-background-white">
    <h1 class="title is-1">404 🦀</h1>
    <h2 class="subtitle is-4">Oops!</h2>
    <p>The page you’re looking for doesn’t exist. Sorry ’bout that! :p</p>

    <Button type="primary" link="/">Back to main page</Button>
  </div>
</Base>
