---
import Base from "/src/layouts/Base.astro";
---

<Base title="404">
  <div class="section content has-text-centered has-background-white">
    <h1 class="title is-1">404 🦀</h1>
    <h2 class="subtitle is-4">Oops!</h2>
    <p>The page you’re looking for doesn’t exist. Sorry ’bout that! :p</p>

    <a class="button is-primary" href="/">Back to main page</a>
  </div>
</Base>
