---
export interface Props {
  id: string;
}

const { id } = Astro.props as Props;
---

<input type="checkbox" id={id} class="is-hidden" />
<div class="modal">
  <label for={id} class="modal-background"></label>
  <div class="modal-content">
    <slot />
  </div>
  <label for={id} class="modal-close is-large" aria-label="close"></label>
</div>
