.pride-flags {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pride-flag {
    margin: 5px;
    border-radius: 5px;
    height: 30px;
}
.pride-flags a {
    /* text-decoration: none; */
    display: flex;
    align-items: center;
}