---
import DeferredStylesheets from "./DeferredStylesheets.astro";
import "/src/styles/style.scss";

const { title } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=0.75" />
  <meta name="description" content="The homepage of pluie/pluiedev!" />

  <link
    rel="icon"
    type="image/png"
    sizes="128x128"
    href="/favicon/128x128.png"
  />
  <title>{title} | pluie.me</title>

  <DeferredStylesheets hrefs={[
    "/fontawesome/css/all.min.css"
  ]} />
</head>
