---
import '/src/styles/style.scss'

const { title } = Astro.props;
---

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link rel="icon" type="image/png" sizes="128x128" href="/favicon/128x128.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/192x192.png" />
    <link rel="icon" type="image/png" sizes="256x256" href="/favicon/256x256.png" />
    <title>{title} | pluie.me</title>
    <link href="/fontawesome/css/all.min.css" rel="stylesheet" />
</head>