<footer class="footer">
    <div class="content has-text-centered">
        <p>
            © 2022 Leah Chen / The Dichotomy System
            <br/>
            Contents of this page are licensed under
            <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.
        </p>
        <p>
            Made with <a href="https://bulma.io">Bulma</a>, 💜, caffeine, and E pills.
        </p>
    </div>
</footer>