---
import Button from "@components/Button.astro";
import ModalButton from "@components/modal/ModalButton.astro";

const currentYear = new Date().getFullYear();
const firstYear = 2022;

const yearText = currentYear > firstYear ? `${firstYear}—${currentYear}` : firstYear.toString() 
---

<footer class="footer py-6">
    <div class="content has-text-centered">
        <p>
            © {yearText} Leah "pluie" Chen
        </p>
        <p>
            Code and contents of this page are licensed under
            <br/>
            <a href="https://mit-license.org/">the MIT License</a> and
            <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
            respectfully.
            <br/>
            <a href="https://github.com/pluiedev/site">Source code available at GitHub.</a>
        </p>
        <p>
            Made with <a href="https://bulma.io">Bulma</a>, 💜, caffeine, and E pills.
        </p>
        <div class="buttons is-centered mt-4">
            <Button link="https://www.youtube.com/channel/UCfVDQlFd1pGiNfjFdG-Gamw|_blank" type="youtube" icon="fab fa-youtube" title="YouTube">
                YouTube
            </Button>
            <Button link="https://discord.gg/NeNfePzCx8|_blank" type="discord" icon="fab fa-discord" title="Discord Server">
                Discord Server
            </Button>
            <Button link="https://twitter.com/pluiedev|_blank" type="twitter" icon="fab fa-twitter" title="Twitter">
                Twitter
            </Button>
            <Button link="https://space.bilibili.com/401096522|_blank" type="twitter" icon="fab fa-bilibili" title="Bilibili">
                Bilibili
            </Button>
            <Button link="https://github.com/pluiedev|_blank" type="github" icon="fab fa-github" title="GitHub">
                GitHub
            </Button>
            <ModalButton modal="email-modal" type="github" icon="fas fa-envelope" title="Email">
                Email
            </ModalButton>
        </div>
    </div>
</footer>