---
---
<footer>
    © Copyright 2022 The Dichotomy System  
    <br/>
    Contents of this page are licensed under the
    <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0</a>
    License.
</footer>

<style is:global>
footer {
    display: flex;
    align-items: flex-end;
    margin: 10px;
    padding: 5px;
    grid-column: 1 / 3;
    grid-row: 2;
    color: #666;
}
footer > a {
    color: #ccc;
}
</style>