---
import Button from "./Button.astro";

const currentYear = new Date().getFullYear();
const firstYear = 2022;

const yearText = currentYear > firstYear ? `${firstYear}—${currentYear}` : firstYear.toString() 
---

<footer class="footer mt-6">
    <div class="content has-text-centered">
        <p>
            © {yearText} Leah Chen <abbr title="also known as">a.k.a</abbr>. pluie
            <br/>
            Code and contents of this page are licensed under
            <a href="https://mit-license.org/">the MIT License</a> and
            <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
            respectfully.
        </p>
        <p>
            Made with <a href="https://bulma.io">Bulma</a>, 💜, caffeine, and E pills.
        </p>
        <div class="buttons is-centered mt-4">
            <Button href="https://www.youtube.com/channel/UCfVDQlFd1pGiNfjFdG-Gamw"
                target="_blank" type="youtube" icon="fab fa-youtube" text="YouTube" />
            <Button href="https://discord.gg/NeNfePzCx8" target="_blank" type="discord" icon="fab fa-discord" text="Discord Server" />
            <Button href="https://twitter.com/pluiedev" target="_blank" type="twitter" icon="fab fa-twitter" text="Twitter" />
            <Button href="https://space.bilibili.com/401096522" target="_blank" type="twitter" icon="fab fa-bilibili" text="Bilibili" />
            <Button href="https://github.com/pluiedev" target="_blank" type="github" icon="fab fa-github" text="GitHub" />
            <Button href="mailto:hi@pluie.me" target="_blank" type="github" icon="fas fa-envelope" text="Email" />
        </div>
    </div>
</footer>