.button {
	font-weight: bold;

	@mixin buttons($styles) {
		@each $id, $bg, $fg in $styles {
			$bg-color: map-get($custom-colors, $bg);
			$dark-color: map-get($dark-colors, $bg);

			&.is-#{bg} {
				background-color: $bg-color;
				border-color: $bg-color;
				color: $fg;

				&:hover,
				&:active {
					background-color: $dark-color;
					border-color: $dark-color;
				}
			}
		}
	}

	@include buttons(
		(
			youtube: $white,
			twitter: $black,
			github: $black,
			mastodon: $white,
		)
	);
}
