---
title: "No AI to be found here"
id: noai
---

<div class="prose">
<h1 class="text-brand">No AI to be found here</h1>

{{ echo |> md }}
This site (pluie.me) contains zero AI-assisted or AI-generated content and assets. All blog posts have been painstakingly typed out by me, letter-by-letter, in a text editor; all illustrations, photographs, videos and other types of media, unless otherwise noted, have been taken, drawn, edited or otherwise created by myself.

The maximal extent to which I limit my AI usage for this site is preliminary research while investigating certain topics or codebases. I place extra scrutiny on the AI-generated results, but I'm not perfect, and mistakes may slip through just as if I performed my research entirely manually. Please submit any corrections via email or my limited social media presences.

As for why I've set these AI usage rules for myself for this website, the reason is threefold:

Most importantly, I just enjoy the creative process. I *like* having to spend a significant amount of my free time doing things "the old-fashioned way" for my own enjoyment and intellectual nourishment. Hell, being forced to use AI agents at work is already draining enough — continuing to "shipmaxx" for my personal projects will just kill whatever creative spark I have left. On this basis alone, I encourage everyone to engage in their own creative pursuit for their own sakes, even if LLMs can allegedly "do it better" (spoilers: they can't). Messy but genuine art is superior to clean but soulless "art" if it means something personal to the creator, and only we are capable of feeling this way.

Secondly, one of my major goals in life is to bond with real people with interesting and varied life experiences, whom I might not have known otherwise. I fail to see how obfuscating my message behind an LLM is even a bit helpful and not at all disingenuous in this regard; my instinctual reaction to a shameful facsimile of human language is almost always one of distrust and disgust. It also just so happens that the illusion of erudition that certain LLM users maintain evaporates upon any in-person contact, when they realize they can no longer rely on a machine to make them sound sophisticated.

Lastly, LLMs are still hilariously bad at grasping contextual and suprasegmental aesthetics of the English language (or the Chinese language on that regard). It superficially understands rhyme, but it does not understand cadence, meter, the effect of specific grammatical structures,
or the importance of understated references to classical literature. It places too much emphasis where there ought to be none, and too little where a bit of stress yields great dramatic effect.

As such it doesn't make me any more eloquent; instead it only portrays a mockery of the intellectual effort behind wordsmithing. As the oft-paraphrased adage goes, writing is ultimately about picking out words from a pool and stitching them together; while LLMs perform adequately at the latter, it betrays its extensive yet expensive "education" of nearly the sum of human knowledge and literature by spewing out the most formulaic, non-committal, clichéd prose any discerning reader would by this point learn to distinguish. It is ultimately a fool's errand to emulate the erratic unpredictability of the human mind with a predictive mathematical model — although ultimately, the onus is on us as humanity to value ingenuity over predictability.

I shall end this diatribe with a [quote from Orwell](https://www.goodreads.com/quotes/1315094-modern-writing-at-its-worst-does-not-consist-in-picking) (from "Politics and the English Language", 1946), which adequately summarizes my thoughts on AI content:

> Modern writing at its worst does not consist in picking out words for the sake of their meaning and inventing images in order to make the meaning clearer. It consists in gumming together long strips of words which have already been set in order by someone else, and making the results presentable by sheer humbug. The attraction of this way of writing is that it is easy. It is easier -- even quicker, once you have the habit -- to say "In my opinion it is not an unjustifiable assumption that" than to say "I think."
{{ /echo }}
</div>
