---
layout: layouts/default.pug
title: "404"
url: /404.html
centered: true
---
include _includes/comps/button

h1.title.is-1 404 🦀
h2.subtitle.is-4 Oops!
p The page you’re looking for doesn’t exist. Sorry ’bout that! :p

+button("/", "_self")(class="is-primary")
	span Back to main page