---
title: Heya~
description: I'm Leah, also known as pluie or pluiedev!

date: Git Last Modified
doNotRenderTitle: true
opengraph:
  og:type: profile
  profile:first_name: Leah
  profile:last_name: Chen
  profile:username: pluie
  profile:gender: female
---

include _includes/comps/devicon.pug

.columns.is-desktop.is-forced-max-width.is-flex-direction-row-reverse
	.column.is-narrow.is-flex.is-justify-content-center.is-align-items-center
		figure#avatar.image
			img(src="/img/avatar.webp" alt="Avatar" width="320" height="320")

	.column
		h1.title.is-2
			| Heya~ I'm #[span.has-text-primary Leah]!
			span.subtitle
				span.mx-1 ·
				a.has-text-primary(href="https://pronouns.page/@pluiedev") she/her 🏳️‍⚧️

		p.subtitle.is-4.
			You may know me by my online aliases,
			#[span.has-text-primary pluie] or #[span.has-text-primary pluiedev].

		.has-text-justified
			:md
				I'm a Chinese open-source developer 👩🏼‍💻,
				community manager 🔨👷🏼‍♀️,
				graphics designer and artist 👩🏼‍🎨,
				dedicated to making the world of digital technology and design accessible and
				inclusive for everyone.

				I love coding, drawing, painting, discovering more about myself, and helping others discover and express themselves.
				Funnily enough, I do most of my productive work in my spare time when I'm supposed to relax—apparently,
				once I get fixated on something, I can't stop. Not sure if that's a good quality or not! ;)

				More things I like include dogs, traffic cones, history, politics and linguistics.
				Especially <abbr title="constructed languages, or languages intentionally created by people">conlangs</abbr>.
				They're _very_ cool.
				
				I also often think way too hard about narrative video games, to the point
				I write full articles and reviews about them. I'm not exactly professional,
				but I still try my best to figure out what does and doesn't tick!

.columns.is-forced-max-width.is-flex-direction-row-reverse
	.column.my-6
		h2.title.is-4 Current endeavors
		
		p.subtitle.is-5 Up-to-date as of: #[em= filters.date(date, "HUMAN_DATE")]
		
		.has-text-justified
			:md
				Currently, I spend most of my attention and energy on two things:
				community management and moderation, and contributing to and creating various
				open-source projects.

				As one of the [community managers](https://quiltmc.org/about/teams/#community-managers)
				of [the Quilt Project](https://quiltmc.org), a modding toolchain project primarily designed for Minecraft,
				I work on policies, guidelines and tooling that drives Quilt towards its goal of creating
				a healthy, diverse, multicultural community striving to accomodate all sorts of minorities,
				be they ethnic or racial minorities, sexual and/or gender-nonconfirming minorities, neurodivergent minorities,
				or any other group of people facing various challenges and adversities in world society.

				My unique identity as a queer, lesbian Chinese trans woman with an international,
				multicultural mindset provides me with ample amounts of lived experience with
				diversifying communities beyond the dominant Western, mostly Anglophone,
				predominantly white, cis- and heteronormative culture,
				which is unfortunately still the sole major cultural environment in most tech-focused communities.
				I hope that, through my efforts, heterogeneous people from diverse backgrounds can find
				communities that I manage comfortable, and be free from having to mask their cultural heritage,
				like when I first ventured into international technical communities.

				As an open-source contributor, I occasionally submit patches and pull requests to
				projects I find interesting, mostly in Rust, TypeScript and Kotlin.
				I also maintain Quilt's community tooling, mainly [its official website](https://quiltmc.org)
				and its [Developer Wiki](https://modder.wiki.quiltmc.org/), and sometimes its own 
				Discord bot called [Cozy](https://github.com/QuiltMC/cozy-discord).
				I also started some other random projects, one of which is a
				[Rust rewrite of the `alien` tool](https://github.com/pluiedev/alien),
				originally a Perl utility script that converts Linux software packages between various formats
				(e.g.: `.deb`, `.rpm`, `.tgz`, ...) for different package managers (e.g.: `dpkg`/`apt`, `rpm`/`dnf`, ...)

				I'm almost always coding something new, for existing projects or otherwise,
				and I can't wait to show you more! For now, you'll just have to wait for me to update this
				portfolio again sometime in the future...

	.column.is-4.my-6.has-text-centered-mobile
		h2.title.is-4 Technologies that...

		h3.title.is-5 I use proficiently
		+devicons(devicons.proficiently)
		hr
		
		h3.title.is-5 I use adequately
		+devicons(devicons.adequately)
		hr

		h3.title.is-5 I am still learning
		+devicons(devicons.rudimentally)


