.arrow-button {
	@apply relative;

	&::after {
		@apply absolute w-0 h-0 right-0 border-bg border-l-transparent;
		content: "";
		transition: border-width 0.25s;
		border-width: 1.35rem 2rem 1.35rem 1rem;
	}

	&:hover::after {
		border-right-width: 0rem;
	}
}
