@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer components {
	@import "_styles/components/_index";
}
@layer utilities {
	.bg-brand-hoverable {
		@apply bg-brand hover:bg-brand-dark;
	}

	.bg-transition {
	  --bg-transition: 0;
	  &:hover, &:focus, &.is-active {
	  	--bg-transition: 1;
	  }

	  transition: background-size 0.2s;
	}
}

@import "_styles/fonts";
