:root {
	// Default dark theme "Neon"

	--brand: 210, 55, 115;        // #d23773
	--brand-dark: 186, 44, 99;    // #ba2c63
	--brand-darker: 133, 30, 70;  // #851e46
	--brand-darkest: 87, 18, 45;  // #57122d

	--bg: 18, 18, 20;             // #121214
  --fg: 255, 255, 255;          // white

  --main-bg: 24, 24, 27;        // zinc-900
  --main-fg: 212, 212, 216;     // zinc-200
  --main-fg-sub: 161, 161, 170; // zinc-400
  --main-border: var(--brand);
}
// @media (prefers-color-scheme: light) {
// 	:root {
// 		// Default light theme "Strawberry Marshmellow"
//
// 		--bg: 255, 255, 255; // white
// 		--navbar-bg: var(--brand);
// 		--navbar-border: var(--brand-dark);
//
// 	  --footer-bg: var(--brand-darker);
//
// 		--fg: 24, 24, 27; // zinc-900
// 		--fg-dimmed: 63, 63, 70; // zinc-700
// 	}
// }
//
@import "_styles/components/_index";

html {
  @apply bg-bg;
  font-size: 18px;
}
body {
  @apply font-sans;
}
code {
  @apply font-mono;
}
main {
  @apply bg-main-bg text-main-fg;
}

.bg-brand-hoverable {
	@apply bg-brand hover:bg-brand-dark;
}

.bg-transition {
  --bg-transition: 0;
  &:hover, &:focus, &.is-active {
  	--bg-transition: 1;
  }

  transition: background-size 0.2s;
}
