---
title: Works
---

h2 Artworks

figure
	img(src="/img/avatar-big.webp" width=500)
	figcaption Ferality | Dec 2, 2018 | Oil on canvas
figure
	img(src="/img/avatar-big.webp" width=500)
	figcaption Altitudinous blossoms | Feb 11, 2021 | Oil on canvas
figure
	img(src="/img/avatar-big.webp" width=500)
	figcaption A piscine aura in the depths | Jun 5, 2021 | Oil on canvas
figure
	img(src="/img/avatar-big.webp" width=500)
	figcaption A flower — what's her name again? | Dec 11, 2021 | Oil on canvas
figure
	img(src="/img/avatar-big.webp" width=500)
	figcaption 老铁 (Laotie) | Mar 20, 2022 | Oil on canvas
figure
	img(src="/img/avatar-big.webp" width=500)
	figcaption By the lake, beneath the canopies, in the beforetimes, mother and s- I mean, daughter | Jul 23, 2022 | Oil on canvas


