---
import CommonHead from '@components/CommonHead.astro'
import Footer from '@components/Footer.astro'
import EmailModal from '@components/modal/EmailModal.astro';

const {content} = Astro.props;
---

<!DOCTYPE html>
<html>

<CommonHead title={content.title}/>

<body>
    <EmailModal />
    <slot />
    <Footer />
</body>

</html>