---
import CommonHead from "@components/CommonHead.astro";
import Footer from "@components/Footer.astro";
import EmailModal from "@components/modal/EmailModal.astro";

const { title } = Astro.props.content || Astro.props;
---

<!DOCTYPE html>
<html>
  <CommonHead {title} />

  <body>
    <EmailModal />
    <slot />
    <Footer />
  </body>
</html>
