---
import Base from './Base.astro';

const {content} = Astro.props;
---

<Base content={content}>
    <section class="section p-0">
        <div id="main-container" class="columns is-desktop">
            <aside id="navbar-container" class="column is-narrow">
                <figure class="image is-250x250">
                    <a href="/">
                        <img
                            class="is-rounded"
                            src="/avatars/femcone.png"
                            alt="My avatar - a feminized version of myself wearing a traffic cone, with a trans flag in the background."
                            title="My avatar :> I drew it myself! And yes, I am wearing a traffic cone. It's called 'fashion.'"
                        />
                    </a>
                </figure>
                <hr />
                <nav id="navbar" class="column is-flex">
                    <a href="/">Home</a>
                    <a href="/blog">Blog</a>
                    <a href="/works">Works</a>
                </nav>
            </aside>
            <main class="column content">
                <slot />
            </main>
        </div>
    </section>
</Base>