---
import CommonHead from '@components/CommonHead.astro'
import Footer from '@components/Footer.astro'

const {content} = Astro.props;
---

<!DOCTYPE html>
<html>

<CommonHead title={content.title}/>

<body>
    <section class="section">
        <div class="columns is-desktop">
            <div class="column is-hidden-desktop is-flex is-flex-direction-column is-align-items-center is-justify-content-center">
                <figure class="image is-250x250">
                    <img
                        class="is-rounded"
                        src="/avatars/femcone.png"
                        alt="My avatar - a feminized version of myself wearing a traffic cone, with a trans flag in the background."
                        title="My avatar :> I drew it myself! And yes, I am wearing a traffic cone. It's called 'fashion.'"
                    />
                </figure>
                <hr/>
                <div class="tabs is-large">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/works">Works</a></li>
                    </ul>
                </div>
            </div>
            <aside class="column is-narrow is-hidden-touch">
                <figure class="image is-250x250">
                    <img
                        class="is-rounded"
                        src="/avatars/femcone.png"
                        alt="My avatar - a feminized version of myself wearing a traffic cone, with a trans flag in the background."
                        title="My avatar :> I drew it myself! And yes, I am wearing a traffic cone. It's called 'fashion.'"
                    />
                </figure>
                <hr class="mx-6 has-background-grey-light" />
                <nav class="column is-flex is-flex-direction-column is-align-items-center">
                    <a class="my-2 is-size-4" href="/">Home</a>
                    <a class="my-2 is-size-4" href="/blog">Blog</a>
                    <a class="my-2 is-size-4" href="/blog">Works</a>
                </nav>
            </aside>
            <main class="column content mx-6">
                <slot />
            </main>
        </div>
    </section>
    <Footer />
</body>

</html>