.pride-flags {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pride-flag {
    margin: 5px;
    border-radius: 5px;
    height: 30px;
}
a.not-pride {
    text-decoration: none;
}