// @import "../_bulma/sass/base/generic.sass";
@import "../_bulma/sass/utilities/mixins.sass";

$body-family: $family-primary !default;
$code-family: $family-code !default;
$body-size: 16px !default;

html {
	&,
	body {
		font-family: $body-family;
		font-size: $body-size;
		min-height: 100vh;
		line-height: 1.5;
		margin: 0;
		display: flex;
		flex-direction: column;
		-moz-text-size-adjust: 100%;
		text-size-adjust: 100%;
	}
	code,
	pre {
		font-family: $code-family;
	}
}
main {
	background-color: $white;
	padding: 5rem 4.5rem 3rem 2rem !important;

	@include touch {
		padding: 5rem 3rem 3rem 3rem !important;
	}
}
footer {
	background-color: $primary-dark;
	flex: 1;
	color: $grey-lightest;
	padding: 3rem 3rem 4rem 3rem;
}

#main-container:last-child {
	margin-bottom: initial !important;
}
#navbar-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem 1rem 2rem 3.5rem;
	background-color: $pale;

	@include touch {
		padding: 2rem !important;
	}

	figure {
		margin: 1.5rem;
	}
	hr {
		background-color: $grey-light;
		width: 70%;
	}
}
#navbar {
	flex-direction: column;
	align-items: center;

	@include touch {
		flex-direction: row;
		justify-content: center;
	}
}
