// @import "../_bulma/sass/base/generic.sass";
@import "../_bulma/sass/utilities/mixins";
@import "../_bulma/sass/layout/footer";

$body-family: $family-primary !default;
$code-family: $family-code !default;
$body-size: 16px !default;

html {
	&,
	body {
		font-family: $body-family;
		font-size: $body-size;
		min-height: 100vh;
		line-height: 1.5;
		margin: 0;
		display: flex;
		flex-direction: column;
		-moz-text-size-adjust: 100%;
		text-size-adjust: 100%;
	}
	code,
	pre {
		font-family: $code-family;
	}
}

#main-container {
	background-color: $white;
	min-height: 65vh;
	&:last-child {
		margin-bottom: initial !important;
	}
}

$outer-padding: 6rem;
$inner-padding: 2rem;
$separator-length: 7.5rem;
$separator-width: 1px;
$separator-margin: 2em;

$main-vertical-pad: 5rem;
$navbar-vertical-pad-desktop: 3rem;

main {
	display: flex;
	flex-direction: column;
	padding: $main-vertical-pad $outer-padding $main-vertical-pad $inner-padding !important;

	@include touch {
		padding: $outer-padding 5rem !important;
	}
}

#navbar-container {
	display: flex;
	align-items: center;
	background-color: $pale;
	flex-direction: column;
	padding: 3rem $inner-padding 3rem $outer-padding;

	figure {
		width: 12.5rem;
	}
	.separator {
		height: $separator-width;
		width: $separator-length;
		margin: $separator-margin 0rem;
		border: 1px solid $grey-light;
	}

	@include touch {
		flex-direction: row;
		justify-content: space-between;
		padding: $inner-padding 1rem;

		figure {
			margin-left: $inner-padding;
			width: $separator-length;
		}
		.separator {
			width: $separator-width;
			height: $separator-length;
			margin: 0rem $separator-margin;
		}
	}
}
#navbar {
	display: flex;
	flex-grow: 2;
	flex-direction: column;
	align-items: center;
	padding: 0;

	a {
		margin: 0.5rem 0rem;
		font-size: 1.5rem;
	}

	@include touch {
		flex-direction: row;
		justify-content: right;
		margin-right: $inner-padding;

		a {
			margin-left: 2rem;
		}
	}
}
